.main-slide-container {



    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
    padding-top: 50rem;

             
    overflow: hidden; 

   
    
}

.main-slide-container__img-container {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    border: 1px solid black;
    background-color: blue;
    height: 100%;
}

.main-slide-container__img-container img {
    width: 100%; 
     height: 100%;
}





.main-slide-container__overlay-container {
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 5px auto;
}

.logo {
    flex-basis: 15%;
}

.content {
    width: 60%;
    margin: 90px auto;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--heigh-banner);
    padding-bottom: 50px;

}

.content h1 {
    font-size: 60px;
}

.content h3 {
    width: 80%;
    margin-bottom: 2em;
    font-weight: 100;
    line-height: 1.3;
}

.button-container {
    display: flex;
    align-items: flex-start;
    text-align: center;
}

button {
    display: flex;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 20px;

    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe7250;
    background-color: #fe7250;
    cursor: pointer;
    transition: 0.5s;
}


button:hover {
    background: transparent;
    border: 2px solid #fff;
}

.wave-separator {
    display: flex;


    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.wave-separator__wave-container {
    display: flex;
    margin: 0;
}


#slideImg {
    width: 100%;
    height: var(--heigh-banner);
    animation: zoom-in-zoom-out 20s linear infinite;
 
}



@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media (min-width: 854px) {
    .main-slide-container {
        display: flex;
        width: 100%; 
        position: relative;
        padding-top: 32rem;
    }

  

  
    
}