* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {

    background: rgb(145, 142, 201);
    background: linear-gradient(90deg, rgba(145, 142, 201, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(7, 6, 47, 1) 74%, rgba(6, 5, 43, 1) 81%, rgba(6, 4, 42, 1) 89%, rgba(6, 5, 43, 1) 94%, rgba(6, 5, 43, 1) 95%, rgba(6, 5, 43, 1) 95%, rgba(8, 8, 51, 0.9390491583408453) 100%, rgba(4, 1, 33, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(37, 1, 1, 1) 100%);
    padding: 96px 0;

}

.footer-container {
    /*
    max-width: 1270px;
     background-color: blue; */

    align-items: center;
    padding-left: 4%;
    padding-right: 4%;

    display: flex;
    flex-direction: column;

}
.footer-container-rights{
    margin-top: 1rem;
    background-color: #13171C;
    height: 8.5rem;
    display: flex;

    position: absolute;
    top: 0;
}

.footer-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-container-col {

    width: 100%;
    padding: 0 15px;
}

.footer-container-col__container {
    padding-top: 20px;
}

.footer-container-col__container-form {
    max-width: 100%;
    padding-left: 15px;
}

.footer-container-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    font-weight: bold;

}

.footer-container-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}


.footer-container-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;


    transition: all 0.3s ease;
}

.footer-container-col ul li a:hover {
    font-size: 16px;
    padding-left: 10px;
    text-shadow: 3px 8px 20px #E7E7E7;
}

.footer-container-col-figure {
    display: flex;
    flex-direction: column;
    padding-right: 2em;

}

.footer-container-col-figure h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;

}

.footer-container-col-figure img {
    width: 100%;
    height: 100%;
}



.footer-container-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;


}

ul {
    list-style: none;
}


@media (min-width: 574px) {
    .footer-container-col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media (min-width: 1054px) {
    .footer-container-col {
        width: 20%;
    }

    .footer-container-row {
        flex-wrap: nowrap;
    }

    .footer-container-col-figure img {
        width: 480px;
    }

    .footer-container {

        padding-left: 15%;
        padding-right: 15%;
    }

    .footer-container-col__container {
        padding-top: 0px;
    }
}



.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin-inline-start: 8px;
}

/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}

/* google plus button class*/
.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
}

/* FORMULARIO */

    /* Style inputs with type="text", select elements and textareas */
    input[type=text],
    select,
    textarea {
        width: 100%;
        /* Full width */
        padding: 12px;
        /* Some padding */
        border: 1px solid #ccc;
        /* Gray border */
        border-radius: 4px;
        /* Rounded borders */
        box-sizing: border-box;
        /* Make sure that padding and width stays in place */
        margin-top: 6px;
        /* Add a top margin */
        margin-bottom: 16px;
        /* Bottom margin */
        resize: vertical
            /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }

    /* Add a background color and some padding around the form */
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    label {
        color: white;
        font-family: 'Overpass', sans-serif;

    }